{% extends "layout.html" %}

{% block content%}

<div class="container">
    {% for post in posts %}
    <h3>Overview</h3>
    <p>precision: {{post.p}}</p>
    <p>recall: {{post.r}}</p>
    <p>f1 score: {{post.f1}}</p>

    {% if post.loc_error|length != 0 %}
    <h3>Location Error</h3>

    <p>{{post.path}}</p>
    <img src="{{url_for('static', filename=post.path[9:] + 'loc.png')}}" alt="1" usemap="#errormap1">

    <map name="errormap1">
        {% for row in post.loc_error %}
        <area shape="rect" coords="{{row[0][1] * post.scale}},{{row[0][2] * post.scale}},{{row[0][3] * post.scale}},{{row[0][4] * post.scale}}"
              href="zoomin?info={{row}}&path={{post.path}}&scale={{post.scale}}">
        {% endfor %}
    </map>

    {% endif %}


    {% if post.cls_error|length != 0 %}
    <h3>Classification Error</h3>

    <h3>{{post.path}}</h3>
    <img src="{{url_for('static', filename=post.path[9:] + 'cls.png')}}" alt="1" usemap="#errormap2">

    <map name="errormap2">
        <!--{% for row in post.loc_error %}-->
        <!--<h3>{{row[0][1:]}}</h3>-->
        <!--<area shape="rect" coords="{{row[0][1] * post.scale}},{{row[0][2] * post.scale}},{{row[0][3] * post.scale}},{{row[0][4] * post.scale}}"-->
              <!--href="zoomin?x1={{row[0][1]}}&y1={{row[0][2]}}&x2={{row[0][3]}}&y2={{row[0][1]}}&path={{post.path}}&scale={{post.scale}}">-->
        <!--{% endfor %}-->
    </map>
    {% endif %}



    {% endfor %}
</div>



{% endblock %}
