{% extends "layout.html" %}

{% block content%}

<div class="container">

    {% for post in posts %}

    <!--<p>Path: {{post.path}}</p>-->
    <h3>Classification Error</h3>
    <div>
    <h4>Prediction Information</h4>
    <p>Prediction Label:{{post.predinfo_list[0]}}</p>
    <p>Prediction Bounding Box(x1,y1,x2,y2):{{post.predinfo_list[1:]}}</p>
    <p>Line #{{post.predline}} in Prediction file.</p>
    <div>
        <p>Local zoom picture</p>
    <img src="{{url_for('static', filename=post.path[9:] + post.cropPred )}}" alt="1">
    </div></div>

    <div>
    <h4>Ground Truth Information</h4>
    <p>Ground Truth Label:{{post.gtinfo_list[0]}}</p>
    <p>Ground Truth Bounding Box(x1,y1,x2,y2):{{post.gtinfo_list[1:]}}</p>
    <p>Line #{{post.gtline}} in Ground Truth file.</p>
    <div>
        <p>Local zoom picture</p>
    <img src="{{url_for('static', filename=post.path[9:] + post.cropGt )}}" alt="1">
    </div></div>


    <div>
        <h4>Whole scale picture</h4>
         <img src="{{url_for('static', filename=post.path[9:] + post.whole )}}" alt="1">
    </div>



    {% endfor %}

</div>



{% endblock %}
