{% extends "layout.html" %}

{% block content%}

<div class="container">

    {% for post in posts %}
    <p>Path: {{post.path}}</p>

    {% if post.info_list|length == 2 %}
    <h3>Location Error</h3>
    <p>Prediction Label:{{post.info_list[0][0]}}</p>
    <p>Bounding Box(x1,y1,x2,y2):{{post.info_list[0][1:]}}</p>
    <p>Line #{{post.info_list[1]}} in prediction file.</p>
    <div>
        <h4>Local zoom picture</h4>
    <img src="{{url_for('static', filename=post.path[9:] + post.crop )}}" alt="1">
    </div>

    <div>
        <h4>Whole scale picture</h4>
         <img src="{{url_for('static', filename=post.path[9:] + post.whole )}}" alt="1">
    </div>

    {% else %}
    <h3>Classification Error</h3>>
    <p>Prediction Label:{{post.info_list[0][0]}}</p>
    <p>Prediction Bounding Box(x1,y1,x2,y2):{{post.info_list[0][1:]}}</p>
    <p>Line #{{post.info_list[1]}} in prediction file.</p>
    <p>Ground Truth Label:{{post.info_list[2][0]}}</p>
    <p>Ground Truth Bounding Box(x1,y1,x2,y2):{{post.info_list[2][1:]}}</p>
    <p>Line #{{post.info_list[3]}} in ground truth file.</p>

    {% endif %}

    {% endfor %}

</div>



{% endblock %}
