{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#"><img style="   width: 150px;" src="{{ url_for('static', filename = 'logo.png') }}" alt="Logo"></a>

        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
        </div>

    </div>
</nav>

{% endblock %}

<!-- Content Block -->
{% block page_title %} Home {% endblock %}

<!-- Content -->
{% block content %}

<div class="container">

    <p>BBQ is a web service that helps check the matching quality of two bounding boxes.</p>



</div>

<div class="container">

    <form action = "http://localhost:5000/uploader" method = "POST"
          enctype = "multipart/form-data">
        Image:<input type = "file" name = "file" />
        GT:<input type = "file" name = "file" />
        Pred:<input type = "file" name = "file" />

        <input type = "submit"/>
    </form>

</div>

{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<title>Flask Intro</title>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--<h1>Welcome to Flask!</h2>-->
<!--<br>-->
<!--<p>Click <a href="/">here</a> to go home.</p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->